<div class="flex menu">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo.png" alt="">
  </div>

  <div class="menu-container flex options">
    <app-menu-button [description]="'Home'">
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button [description]="'Search'">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button [description]="'Artists'">
      <fa-icon [icon]="artistIcon"></fa-icon>
    </app-menu-button>
  </div>
</div>

<div class="user-data"></div>